## Pandas - Продолжение

![pandas](https://miro.medium.com/max/910/1*yCa5M8MBjdilx9chG2a8Zw.jpeg)

Но сначала, немного повторения

План: \
    1) Повторение \
    2) Мердж \
    3) пайвот

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [9]:
popul = pd.read_excel('population2020.xlsx')
popul.head()

  CountryCode  ValueYear  Population
0         ABW       1960       54211
1         AFG       1960     8996973
2         AGO       1960     5454933
3         ALB       1960     1608800
4         AND       1960       13411

In [10]:
cntr = pd.read_excel('Country2020.xlsx')
cntr.head()

,CountryCode,Name,Continent,Region,SurfaceArea,IndepYear,GovernmentForm,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,Nonmetropolitan Territory of The Netherlands,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,Islamic Emirate,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,Republic,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,Dependent Territory of the UK,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,Republic,34.0,AL

In [61]:
# Номинальный ВВП
gdp_nom = pd.read_excel('GDPCurrent2020.xlsx')
gdp_nom.head()

  CountryCode  ValueYear    GDPCurrent
0         AFG       1960  5.377778e+08
1         AUS       1960  1.857767e+10
2         AUT       1960  6.592694e+09
3         BDI       1960  1.960000e+08
4         BEL       1960  1.165872e+10

In [62]:
#  Реальный ВВП
gdp_real = pd.read_excel('gdpconst2020.xlsx')
gdp_real.head()

  CountryCode  ValueYear  GDPConst2010
0         ARG       1960  1.155739e+11
1         AUS       1960  1.991390e+11
2         AUT       1960  9.183670e+10
3         BDI       1960  5.970700e+08
4         BEL       1960  1.207649e+11

In [20]:
cntr[cntr['CountryCode'] == 'RUS']

,CountryCode,Name,Continent,Region,SurfaceArea,IndepYear,GovernmentForm,Capital,Code2
185,RUS,Russian Federation,Europe,Eastern Europe,17075400.0,1991.0,Federal Republic,3580.0,RU

In [11]:
cntr_lang = pd.read_excel('countrylanguage2020.xlsx')
cntr_lang.head()

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T    5.300000
1         ABW     English          F    9.500000
2         ABW  Papiamento          F   76.699997
3         ABW     Spanish          F    7.400000
4         AFG     Balochi          F    0.900000

In [12]:
life_exp = pd.read_excel('LifeExpectancy2020.xlsx')
life_exp.head()

  CountryCode  ValueYear  LifeExpectancy
0         ABW       1960          65.662
1         AFG       1960          32.446
2         AGO       1960          37.524
3         ALB       1960          62.283
4         ARE       1960          51.537

Cross sectional data - информация об N наблюдениях в один период времени $(1*N)$ \
Time series data - информация об одном наблюднении за T периодов времени $(T*1)$ \
Panel data - информация об N наблюдениях за T периодов $(T*N)$

In [21]:
#Time Series data structure
ts_life_exp_RUS = life_exp[life_exp['CountryCode'] == 'RUS'][['ValueYear', 'LifeExpectancy']]
ts_life_exp_RUS.reset_index(drop = True, inplace = True)
ts_life_exp_RUS

    ValueYear  LifeExpectancy
0        1960       66.055293
1        1961       66.597024
2        1962       67.021415
3        1963       67.339902
4        1964       67.566512
5        1965       67.718854
6        1966       67.812512
7        1967       67.860146
8        1968       67.874341
9        1969       67.867122
10       1970       68.133659
11       1971       68.376585
12       1972       68.308537
13       1973       68.294634
14       1974       68.320244
15       1975       67.723902
16       1976       67.487561
17       1977       67.376341
18       1978       67.390976
19       1979       67.114390
20       1980       67.033902
21       1981       67.263902
22       1982       67.806098
23       1983       67.652683
24       1984       67.202683
25       1985       67.856829
26       1986       69.389756
27       1987       69.440000
28       1988       69.464390
29       1989       69.171707
30       1990       68.886098
31       1991       68.474390
32       1992       66.873171
33       1993       64.935854
34       1994       64.467073
35       1995       64.690732
36       1996       65.854146
37       1997       66.698780
38       1998       67.029756
39       1999       65.982195
40       2000       65.483659
41       2001       65.383415
42       2002       65.128780
43       2003       65.047805
44       2004       65.470976
45       2005       65.529756
46       2006       66.727561
47       2007       67.586829
48       2008       67.949268
49       2009       68.684634
50       2010       68.841220
51       2011       69.683902
52       2012       70.072195
53       2013       70.578780
54       2014       70.743659
55       2015       71.183415
56       2016       71.651220
57       2017       72.119024

Сделайте самостоятельно Cross sectional data structure за 2017 год по всем N странам

In [25]:
cs_life_exp_2017 = life_exp[life_exp['ValueYear'] == 2017][['CountryCode', 'LifeExpectancy']]
cs_life_exp_2017.reset_index(drop = True, inplace = True)
cs_life_exp_2017

    CountryCode  LifeExpectancy
0           ABW       76.010000
1           AFG       64.130000
2           AGO       60.379000
3           ALB       78.333000
4           ARE       77.647000
..          ...             ...
193         XKX       71.946341
194         YEM       66.086000
195         ZAF       63.538000
196         ZMB       63.043000
197         ZWE       60.812000

[198 rows x 2 columns]

Pivot table - сводная таблица в нашем случае, она же panel data формат

In [37]:
pd.pivot_table(life_exp, values = 'LifeExpectancy', columns = 'ValueYear', index = 'CountryCode')

ValueYear,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
CountryCode,,,,,,,,,,,,,,,,,,,,,
ABW,65.662,66.074,66.444,66.787,67.113,67.435,67.762,68.095,68.436,68.784,...,74.725000,74.87200,75.017,75.15800,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000
AFG,32.446,32.962,33.471,33.971,34.463,34.948,35.430,35.914,36.403,36.900,...,59.930000,60.48400,61.028,61.55300,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000
AGO,37.524,37.811,38.113,38.430,38.760,39.102,39.454,39.813,40.178,40.546,...,53.243000,54.31100,55.350,56.33000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000
ALB,62.283,63.301,64.190,64.914,65.463,65.850,66.110,66.304,66.487,66.689,...,75.912000,76.22100,76.562,76.91400,77.252000,77.554000,77.813000,78.025000,78.194000,78.333000
ARE,51.537,52.560,53.573,54.572,55.555,56.523,57.482,58.432,59.375,60.304,...,75.957000,76.14500,76.332,76.52100,76.711000,76.903000,77.095000,77.285000,77.470000,77.647000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.397561,69.64878,69.900,70.14878,70.497561,70.797561,71.097561,71.346341,71.646341,71.946341
YEM,29.919,30.163,30.500,30.943,31.501,32.175,32.960,33.836,34.780,35.780,...,64.892000,65.25500,65.549,65.76800,65.920000,66.016000,66.066000,66.085000,66.087000,66.086000
ZAF,48.406,48.777,49.142,49.509,49.888,50.284,50.705,51.148,51.615,52.106,...,55.360000,56.46000,57.669,58.89500,60.060000,61.099000,61.968000,62.649000,63.153000,63.538000
ZMB,46.687,47.084,47.446,47.772,48.068,48.351,48.643,48.960,49.313,49.700,...,52.606000,54.13000,55.655,57.12600,58.502000,59.746000,60.831000,61.737000,62.464000,63.043000
ZWE,53.019,53.483,53.946,54.403,54.849,55.274,55.671,56.034,56.362,56.656,...,46.504000,48.44900,50.640,52.89600,55.032000,56.897000,58.410000,59.534000,60.294000,60.812000

In [51]:
panel = pd.pivot_table(life_exp, values = 'LifeExpectancy', index = 'ValueYear', columns = 'CountryCode')

In [ ]:
Merge - Concat - Join

In [44]:
life_exp_ext = pd.merge(life_exp, cntr[['CountryCode','Name','Continent']], how = 'inner', on = 'CountryCode')

In [50]:
life_exp_ext[life_exp_ext['ValueYear'] == 2017].groupby(by = ['Continent'])['LifeExpectancy'].mean()

Continent
Africa           63.420586
Asia             74.212973
Europe           78.937627
North America    75.966334
Oceania          73.190914
South America    74.786167
Name: LifeExpectancy, dtype: float64

In [55]:
pan1 = panel[:len(panel)//2]
pan2 = panel[len(panel)//2:]

In [57]:
pd.concat([pan1, pan2])

CountryCode,ABW,AFG,AGO,ALB,ARE,ARG,ARM,ATG,AUS,AUT,...,VEN,VIR,VNM,VUT,WSM,XKX,YEM,ZAF,ZMB,ZWE
ValueYear,,,,,,,,,,,,,,,,,,,,,
1960,65.662,32.446,37.524,62.283,51.537,65.055,65.972,61.968,70.817073,68.585610,...,59.831,66.224854,59.039,48.975,56.902,NaN,29.919,48.406,46.687,53.019
1961,66.074,32.962,37.811,63.301,52.560,65.176,66.403,62.523,70.973171,69.577317,...,60.377,66.487976,59.720,49.498,57.188,NaN,30.163,48.777,47.084,53.483
1962,66.444,33.471,38.113,64.190,53.573,65.269,66.838,63.049,70.942439,69.309512,...,60.907,66.741098,60.387,50.031,57.472,NaN,30.500,49.142,47.446,53.946
1963,66.787,33.971,38.430,64.914,54.572,65.348,67.277,63.540,70.911707,69.443659,...,61.422,66.996220,61.020,50.576,57.756,NaN,30.943,49.509,47.772,54.403
1964,67.113,34.463,38.760,65.463,55.555,65.426,67.716,63.992,70.880976,69.921951,...,61.923,67.260366,61.581,51.131,58.045,NaN,31.501,49.888,48.068,54.849
1965,67.435,34.948,39.102,65.850,56.523,65.518,68.153,64.401,70.850244,69.722195,...,62.416,67.540512,61.963,51.694,58.340,NaN,32.175,50.284,48.351,55.274
1966,67.762,35.430,39.454,66.110,57.482,65.640,68.588,64.762,70.819512,70.045854,...,62.910,67.835122,62.037,52.259,58.642,NaN,32.960,50.705,48.643,55.671
1967,68.095,35.914,39.813,66.304,58.432,65.796,69.016,65.081,70.869268,69.917805,...,63.409,68.138195,61.767,52.819,58.951,NaN,33.836,51.148,48.960,56.034
1968,68.436,36.403,40.178,66.487,59.375,65.989,69.427,65.363,70.919024,70.057561,...,63.916,68.442732,61.186,53.372,59.266,NaN,34.780,51.615,49.313,56.362
1969,68.784,36.900,40.546,66.689,60.304,66.219,69.809,65.616,70.968780,69.833171,...,64.427,68.748220,60.383,53.915,59.589,NaN,35.780,52.106,49.700,56.656
1970,69.140,37.409,40.914,66.935,61.215,66.483,70.144,65.847,71.018537,69.914634,...,64.935,69.051195,59.563,54.451,59.919,NaN,36.820,52.620,50.114,56.913
1971,69.498,37.930,41.282,67.237,62.099,66.774,70.412,66.066,71.068293,70.114634,...,65.428,69.351146,58.980,54.981,60.256,NaN,37.888,53.157,50.542,57.135
1972,69.851,38.461,41.650,67.582,62.949,67.078,70.605,66.280,71.457561,70.463415,...,65.896,69.646610,58.826,55.510,60.599,NaN,38.981,53.713,50.961,57.329
1973,70.191,39.003,42.016,67.953,63.759,67.383,70.723,66.498,71.846829,71.014634,...,66.331,69.935585,59.203,56.043,60.948,NaN,40.093,54.281,51.351,57.509
1974,70.519,39.558,42.374,68.343,64.525,67.686,70.775,66.727,72.236098,71.012195,...,66.729,70.217585,60.112,56.582,61.301,NaN,41.219,54.856,51.700,57.688
1975,70.833,40.128,42.721,68.736,65.244,67.985,70.783,66.975,72.625366,71.114634,...,67.092,70.490073,61.446,57.128,61.661,NaN,42.364,55.428,51.999,57.892
1976,71.140,40.715,43.053,69.110,65.916,68.283,70.783,67.244,73.014634,71.565854,...,67.420,70.750537,63.010,57.684,62.031,NaN,43.540,55.990,52.247,58.150
1977,71.441,41.320,43.367,69.448,66.545,68.585,70.798,67.533,73.344390,71.914634,...,67.723,70.999927,64.547,58.249,62.410,NaN,44.753,56.538,52.449,58.470
1978,71.736,41.944,43.660,69.742,67.137,68.891,70.838,67.837,73.674146,72.012195,...,68.009,71.239244,65.859,58.819,62.796,NaN,46.000,57.071,52.607,58.850
1979,72.023,42.585,43.931,69.991,67.692,69.197,70.897,68.154,74.003902,72.312195,...,68.281,71.470976,66.865,59.391,63.184,NaN,47.265,57.590,52.722,59.274
1980,72.293,43.244,44.178,70.208,68.213,69.496,70.937,68.482,74.333659,72.463415,...,68.542,71.700122,67.542,59.961,63.567,NaN,48.532,58.107,52.802,59.731
1981,72.538,43.923,44.404,70.416,68.701,69.777,70.910,68.818,74.663415,72.812195,...,68.795,71.930707,67.942,60.528,63.937,65.897561,49.778,58.637,52.863,60.203
1982,72.751,44.617,44.611,70.635,69.158,70.033,70.776,69.156,74.904878,72.960976,...,69.038,72.166244,68.203,61.087,64.289,66.197561,50.981,59.191,52.905,60.650
1983,72.929,45.324,44.799,70.876,69.585,70.262,70.519,69.491,75.146341,73.012195,...,69.272,72.410244,68.439,61.632,64.617,66.397561,52.117,59.766,52.915,61.025
1984,73.071,46.040,44.966,71.134,69.986,70.466,70.150,69.820,75.387805,73.612195,...,69.497,72.662220,68.688,62.158,64.920,66.597561,53.170,60.353,52.870,61.280
1985,73.181,46.761,45.107,71.388,70.363,70.650,69.698,70.137,75.629268,73.814634,...,69.715,72.922171,68.972,62.659,65.194,66.797561,54.120,60.946,52.720,61.356
1986,73.262,47.486,45.213,71.605,70.717,70.825,69.205,70.440,75.870732,74.317073,...,69.923,73.187049,69.293,63.131,65.443,66.997561,54.959,61.540,52.402,61.199
1987,73.325,48.211,45.283,71.760,71.049,71.001,68.732,70.728,76.151707,74.768293,...,70.123,73.453854,69.624,63.574,65.670,67.197561,55.692,62.109,51.888,60.792
1988,73.378,48.930,45.317,71.843,71.361,71.186,68.332,71.004,76.432683,75.217073,...,70.312,73.717585,69.943,63.986,65.883,67.397561,56.331,62.619,51.173,60.136
1989,73.425,49.640,45.324,71.860,71.657,71.384,68.038,71.267,76.713659,75.265854,...,70.491,73.978244,70.252,64.368,66.085,67.548780,56.881,63.035,50.282,59.235
1990,73.468,50.331,45.306,71.836,71.939,71.594,67.879,71.520,76.994634,75.568293,...,70.658,74.235854,70.551,64.721,66.281,67.748780,57.346,63.307,49.249,58.100
1991,73.509,50.999,45.271,71.803,72.208,71.813,67.870,71.765,77.275610,75.617073,...,70.811,74.491951,70.842,65.047,66.470,67.948780,57.730,63.384,48.125,56.749
1992,73.544,51.641,45.230,71.802,72.466,72.032,67.990,72.006,77.378049,75.817073,...,70.951,74.747049,71.124,65.349,66.655,68.100000,58.047,63.247,46.987,55.243
1993,73.573,52.256,45.201,71.860,72.715,72.246,68.218,72.247,77.878049,76.068293,...,71.079,75.002659,71.399,65.633,66.842,68.248780,58.318,62.894,45.919,53.653
1994,73.598,52.842,45.201,71.992,72.957,72.453,68.538,72.489,77.878049,76.419512,...,71.200,75.257293,71.666,65.903,67.037,68.400000,58.566,62.331,44.983,52.044
1995,73.622,53.398,45.246,72.205,73.194,72.651,68.938,72.732,77.829268,76.668293,...,71.321,75.509927,71.923,66.162,67.249,68.551220,58.817,61.561,44.242,50.480
1996,73.646,53.924,45.350,72.495,73.428,72.843,69.404,72.977,78.078049,76.870732,...,71.451,75.759024,72.168,66.414,67.491,68.700000,59.096,60.595,43.735,49.009
1997,73.671,54.424,45.519,72.838,73.657,73.029,69.912,73.222,78.480488,77.319512,...,71.596,76.002537,72.399,66.660,67.764,68.851220,59.415,59.489,43.461,47.661
1998,73.700,54.906,45.763,73.208,73.883,73.213,70.434,73.465,78.631707,77.670732,...,71.756,76.236976,72.617,66.899,68.067,68.951220,59.782,58.315,43.413,46.466
1999,73.738,55.376,46.093,73.587,74.106,73.396,70.944,73.705,78.931707,77.875610,...,71.930,76.461854,72.824,67.134,68.399,66.951220,60.204,57.144,43.594,45.461
2000,73.787,55.841,46.522,73.955,74.327,73.576,71.409,73.940,79.234146,78.126829,...,72.112,76.619512,73.025,67.363,68.748,67.951220,60.683,56.048,44.000,44.649
2001,73.853,56.308,47.059,74.288,74.544,73.755,71.800,74.171,79.634146,78.575610,...,72.294,77.673171,73.228,67.583,69.103,67.997561,61.216,55.089,44.615,44.010
2002,73.937,56.784,47.702,74.579,74.758,73.932,72.112,74.395,79.936585,78.678049,...,72.466,77.621951,73.438,67.793,69.451,67.943902,61.781,54.310,45.400,43.523
2003,74.038,57.271,48.440,74.828,74.968,74.107,72.348,74.613,80.239024,78.631707,...,72.618,77.573171,73.654,67.990,69.781,68.195122,62.358,53.749,46.322,43.195
2004,74.156,57.772,49.263,75.039,75.174,74.280,72.513,74.821,80.490244,79.180488,...,72.746,77.873171,73.875,68.176,70.089,68.446341,62.931,53.444,47.354,43.065
2005,74.287,58.290,50.165,75.228,75.376,74.451,72.626,75.019,80.841463,79.331707,...,72.852,77.421951,74.092,68.350,70.374,68.695122,63.481,53.447,48.496,43.241
2006,74.429,58.826,51.143,75.423,75.573,74.620,72.716,75.204,81.041463,79.880488,...,72.938,78.475610,74.295,68.515,70.642,68.946341,63.997,53.795,49.757,43.853
2007,74.576,59.375,52.177,75.646,75.767,74.787,72.815,75.376,81.292683,80.180488,...,73.010,76.860976,74.474,68.672,70.901,69.197561,64.470,54.452,51.134,44.947
2008,74.725,59.930,53.243,75.912,75.957,74.952,72.946,75.535,81.395122,80.431707,...,73.071,77.263415,74.625,68.824,71.158,69.397561,64.892,55.360,52.606,46.504
2009,74.872,60.484,54.311,76.221,76.145,75.116,73.118,75.683,81.543902,80.331707,...,73.116,77.614634,74.745,68.974,71.412,69.648780,65.255,56.460,54.130,48.449
2010,75.017,61.028,55.350,76.562,76.332,75.278,73.331,75.823,81.695122,80.580488,...,73.134,77.965854,74.837,69.123,71.663,69.900000,65.549,57.669,55.655,50.640
2011,75.158,61.553,56.330,76.914,76.521,75.439,73.572,75.956,81.895122,80.982927,...,73.110,78.417073,74.904,69.272,71.906,70.148780,65.768,58.895,57.126,52.896
2012,75.299,62.054,57.236,77.252,76.711,75.598,73.820,76.087,82.046341,80.936585,...,73.037,78.668293,74.958,69.421,72.136,70.497561,65.920,60.060,58.502,55.032
2013,75.441,62.525,58.054,77.554,76.903,75.756,74.056,76.218,82.148780,81.136585,...,72.918,78.868293,75.006,69.570,72.351,70.797561,66.016,61.099,59.746,56.897
2014,75.583,62.966,58.776,77.813,77.095,75.913,74.273,76.349,82.300000,81.490244,...,72.762,78.968293,75.056,69.719,72.549,71.097561,66.066,61.968,60.831,58.410
2015,75.725,63.377,59.398,78.025,77.285,76.068,74.467,76.483,82.400000,81.190244,...,72.584,79.168293,75.110,69.869,72.730,71.346341,66.085,62.649,61.737,59.534
2016,75.868,63.763,59.925,78.194,77.470,76.221,74.640,76.617,82.448780,81.641463,...,72.405,79.268293,75.172,70.021,72.895,71.646341,66.087,63.153,62.464,60.294
2017,76.010,64.130,60.379,78.333,77.647,76.372,74.797,76.752,82.497561,81.641463,...,72.246,79.419512,75.241,70.172,73.046,71.946341,66.086,63.538,63.043,60.812

Задача 1. Составить датасет (обычный, не свобдная таблица) для исследования в котором будут следующие данные за все периоды времени (ВВП, ожид прод-ть жизни, население)

In [58]:
data = pd.merge(popul, life_exp, how = 'inner', on = ['CountryCode', 'ValueYear'] )

In [63]:
data = pd.merge(data, gdp_real, how = 'inner', on = ['CountryCode', 'ValueYear'] )

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8644 entries, 0 to 8643
Data columns (total 5 columns):
CountryCode       8644 non-null object
ValueYear         8644 non-null int64
Population        8644 non-null int64
LifeExpectancy    8644 non-null float64
GDPConst2010      8644 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 405.2+ KB

In [67]:
data.isna().sum()

CountryCode       0
ValueYear         0
Population        0
LifeExpectancy    0
GDPConst2010      0
dtype: int64

In [ ]:
Проследить продолжительности жизни в одной стране
Сравнить во времени